

p {
	border-bottom: 3px solid red;
	
}
.kermit {

	border: 3px solid green;
}
 #main-div-1 {
padding: 10px;

 }

 #main-div-2 .kermit {

 	border: 3px dotted purple;
 }
 #main-div-2 > * {	/*all direct children */
border: 3px solid black;

 }
 h2 ~ p {		/*seplling selector */
 	border: 3px solid blue;
 }

 #li-1 {
 	font-size: 30px;
 }

 # li-2 {
 	font-weight: bold;
 }

 #li-3 {
 	text-transform: uppercase;
 }

#mystery-ul {	/*revise this*/

	font-family: 'mystery Quest';
}

#flex-kermit {		/*search in flex box , css tricks */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

#flex-kermit img {
	margin: 15px; 
	padding: 10px;
	max-width: 50px;
}

/****hover on anchor tags****/
a:hover {

	font-size: 50px;
}
/****hover on active tags****/
a:active {
	background-color: green;
}

/****hover on focs tags****/
input:focus {
background-color: yellow;
}
/****nth child ****/

.sub-div li:nth-child(2n+1){
border:pink 5px solid;
}
.sub-div li:nth-child(2n){
border:blue 5px solid;
}

.sub-div li:nth-of-type(2n) {
color:blue;
}

section p:nth-child(2) {
color: red;
}

section p:nth-of-type(2) {
color: orange;
}

/**before***/
#main-div-1::before {
content: "\201c";
font-size: 60px;
font-weight: bold;
color: purple;
}

#main-div-1::after {
content: "$$$$";

}





































